---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
const animals = await getCollection("animal");
const stories = await getCollection("story");
---

<section
  aria-label="animal picker"
  class="flex flex-col gap-8 sm:gap-10 items-center my-8 sm:my-12"
>
  <h2
    class="text-4xl sm:text-5xl font-medium text-red-brown font-title text-balance"
  >
    Choose your animal...
  </h2>

  <ul class="flex gap-6 sm:gap-8">
    {
      animals.map((animal) => {
        const firstStory = stories.find(
          (story) =>
            story.data.animal.id === animal.id && story.data.chapter === 1
        );
        if (!firstStory) return null;
        return (
          <li class="flex flex-col items-center text-base sm:text-lg font-medium">
            <a href={`/story/${firstStory.slug}`} class="hover:animate-bouncy">
              <Image
                class="bg-sand p-2 rounded-full mb-2"
                src={animal.data.icon}
                width={64}
                height={64}
                alt={animal.data.name}
                loading="eager"
              />
              <span class="inline-block w-full text-center">
                {animal.data.name}
              </span>
            </a>
          </li>
        );
      })
    }
  </ul>

  <p
    class="text-4xl sm:text-5xl font-medium text-red-brown font-title text-balance"
  >
    ...and embark on a journey!
  </p>
</section>
