---
import { getCollection } from "astro:content";
import { ViewTransitions } from "astro:transitions";
import { getThemeColors } from "@lib/theme.ts";

const { title } = Astro.props;

const animals = await getCollection("animal");
const selectedAnimal = animals.find((animal) =>
  Astro.request.url.includes(animal.id)
);

const themeColors = getThemeColors(selectedAnimal?.data.habitat);
---

<html lang="en" transition:animate="fade">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title || "Animal Journey"}</title>
    <ViewTransitions />
  </head>
  <body class={`${themeColors.background} text-slate-950`}>
    <main class="w-11/12 max-w-7xl mx-auto py-12">
      <slot />
    </main>
  </body>
</html>
